@font-face {
	font-family: "DMSans";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src:
		local("DMSans"),
		local("dmsans"),
		local("DMSans-VariableFont_opsz,wght"),
		url("fonts/DMSans.woff2") format("woff2");
}

@font-face {
	font-family: "DMSans";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src:
		local("DMSans-Italic"),
		local("dmsans-italic"),
		local("DMSans-Italic-VariableFont_opsz,wght"),
		url("fonts/DMSans-Italic.woff2") format("woff2");
}
